<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

    <a href="/">home</a>
    <a href="/featured product">featured product</a>
    <a href="/cart">cart</a> 

 <center><h1>Melody Master</h1></center>
<center><h3>here at melody master we provide the best quality guitars at the best price!</h3></center>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrf6jtHeTqJ275f8AUAJLs-ueluFxU4Tk8sQ&usqp=CAU"
    width="1920" 
    height="650" alt="Italian Trulli">

<p><center><h1>guitars</h1></center></p>

<p><left><h2>tim henson signature tod10n</h2></left> </p>

<p><h2>fender telecaster-white</h2></p>
<p><h2>classical guitar</h2></p>

<img src="https://cdn.mos.cms.futurecdn.net/jRK3tgS3A7vdJEYzd7Rwdm-1200-80.jpg"
    width="600" 
    height="500" alt="Italian Trulli">



<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvkunFbFL_NqOlX6xGb-gopI6KFRwIWJsqyA&usqp=CAU"
    width="600" 
    height="500" alt="Italian Trulli">


<img src="https://lh3.googleusercontent.com/EsSFlE64DHhg7hNHbpBBjNCF1sYAuol-LKkh31Tj-Iv0IvhFCT3alXMi4sekIxcTJ69Pp2OgboBt_dTZNuFNoaT2_fkEmGbiApmYuFA_lg"
    width="600" 
    height="500"
     alt="Italian Trulli">



</body>
</html>